/* Style for the select box */
.customStyleSelectBox { 
  font-size:11px; 
  background-color: #E5E5E5; 
  color:#7c7c7c; 
  padding:5px 7px; 
  border:1px solid #e7dab0; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px;
  border-radius: 5px 5px; 
 }

/* Style for box after selection has been made */
.customStyleSelectBox.changed { }

/* Style for select box arrow */
.customStyleSelectBoxInner { background:url(/img/downarrow.gif) no-repeat center right; }
