/* CSS for the Google Calendar events widget. */
#events {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #777;
}

#events ul {
  margin-left: 0px;
  padding-left: 0px;
  line-height: 1.25;
}

#events ul li{
  margin-left: 0px;
  padding-left: 0px;  
} 

.eventTitle {
  background-color: #DDD;
}
.eventTitle  a:link {
  color: #777; 
  text-decoration: none;
  font-weight: 400;
  text-shadow: 0px 1px 0px white;
}      /* unvisited link */
.eventTitle a:visited {color: #777;}  /* visited link */
.eventTitle a:hover {color: #777; text-decoration: underline;}  /* mouse over link */
.eventTitle a:active {color: #777;}  /* selected link */

.timeLabel {
  color: #999;
}