#hnlio img {
  padding: 1rem;
  background-color: white;
  width: 100%;
}


.hnlio-event {
  color: #777;
}

#events {
  color: #777;
}

#events ul {
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  line-height: 1.25;
}

#events ul li{
  margin-left: 0px;
  padding-left: 0px;
}

.hnlio-event-title {
  padding: 2px;
  font-weight: bold;
  word-break: break-all;
}
.hnlio-event-title  a:link {
  color: #3F8686;
  text-decoration: none;
  font-weight: 600;
}      /* unvisited link */
.hnlio-event-title a:visited {color: #3F8686;}  /* visited link */
.hnlio-event-title a:hover {color: #888;}  /* mouse over link */
.hnlio-event-title a:active {color: #A5A5A5;}  /* selected link */
