/* CSS for the Google Calendar events widget. */
#events {
  color: #777;
}

#events ul {
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  line-height: 1.25;
}

#events ul li{
  margin-left: 0px;
  padding-left: 0px;  
} 

.eventTitle {
  padding: 2px;
  padding-top: 10px;
  font-weight: bold;
}
.eventTitle  a:link {
  font-size: 11px;
  color: #3F8686;
  text-decoration: none;
  font-weight: 600;
}      /* unvisited link */
.eventTitle a:visited {color: #3F8686;}  /* visited link */
.eventTitle a:hover {color: #888;}  /* mouse over link */
.eventTitle a:active {color: #A5A5A5;}  /* selected link */

.dateTimeInfo {
  color: #666;
  font-weight: 400;
  padding: 2px;
}

.timeLabel {
  color: #999;
}

.calButton a {
  color: #3F8686;
  text-decoration: none;
}