#repos {
  font: 12px "Lucida Sans Unicode", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  color: #777;
}

#repos ul {
  margin-left: 0px;
  margin-bottom: 0px;
  padding-left: 5px;
  padding-top: 5px;
  list-style: none;
}

#repos ul li {
  margin-left: 0px;
  padding: 5px 1px 1px 2px;
} 

#repos  a:link {
  color: #777; 
  text-decoration: none;
  font-weight: 400;
}      /* unvisited link */
#repos a:visited {color: #777;}  /* visited link */
#repos a:hover {color: #999; text-decoration: underline;}  /* mouse over link */
#repos a:active {color: #777;}  /* selected link */