#repos {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #777;
}

#repos ul {
  margin-left: 0px;
  padding-left: 0px;
  line-height: 1.25;
  list-style: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#repos ul li{
  margin-left: 0px;
  padding: 1px 1px 1px 2px;
} 

#repos  a:link {
  color: #777; 
  text-decoration: none;
  font-weight: 400;
  text-shadow: 0px 1px 0px white;
}      /* unvisited link */
#repos a:visited {color: #777;}  /* visited link */
#repos a:hover {color: #777; text-decoration: underline;}  /* mouse over link */
#repos a:active {color: #777;}  /* selected link */

.altRow {
  background-color: #DDD;
}