body { 
  font-family: "Lucida Sans Unicode", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px; 
  padding-top: 40px; 
  background-color: #353535;
  background-image: url('/img/bg.png');
  background-attachment: fixed;
}

h1 {
  color: #888;
  text-shadow: 2px 2px 3px #222;
}

h2 {
  color: #BBB;
  text-shadow: 2px 2px 3px #222;
}

h3 {
  color: #CCC;
  text-shadow: 2px 2px 3px #222;
}

h4 {
  color: #DDD;
  text-shadow: 2px 2px 3px #222;
}

h5 {
  color: #EEE;
  text-shadow: 2px 2px 3px #222;
}

a, a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

/* CSS for the posts */
.post {
  background: url('/img/content_bg.png');
  border-radius: 4px;
  font-size: 13px;
  color: #E5E5E5;
  /*text-shadow: 0px 1px 5px #222;*/
  margin-top: 20px;
  padding: 15px;
  box-shadow: 3px 3px 3px #333;
}

.post ul {
  list-style-image: url('/img/red_bullet.png');
}

.post li {
  font-size: 13px;
  color: #999;
  /*color: #789;*/
  line-height: 22px;
}
/* #b71c27 */ /* blue: #6388AD */
/*
.postContent a:link, .postContent a:active, .postContent a:visited { color: #b71c27; font-style: italic; font-weight: bold }
.postContent a:hover { color: #FFF; text-decoration: none; }
*/
.postContent a:link, .postContent a:active, .postContent a:visited { 
  color: #AABBAA;
  font-style: italic;
  text-decoration: underline;
  font-weight: bold;
}
.postContent a:hover { color: #DDDDDD; text-decoration: none; text-shadow: none; }

.postContent a[href*=jpg], .postContent a[href*=jpeg], .postContent a[href*=jpe], .postContent a[href*=png], .postContent a[href*=gif] {
	text-decoration: none !important;
	border: 0 none !important;
}

.postTitle {
  font-size: 28px;
  color: #EEEEEE;
  padding-bottom: 5px;
  line-height: 28px;
  text-shadow: 2px 2px 5px #222;
  /*text-shadow: 2px 2px 5px #000;*/
}

.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: #EEEEEE; }
.postTitle a:hover { color: #AAAAAA; text-decoration: none; }

.postInfo {
  font-size: 12px;
  font-style: italic;
  color: #8A8A8A;
  /*color: #b71c27;*/
}

.postComments {
  padding-left: 5px;
  font-style: normal;
  margin-top: 5px;
  color: #DDDDDD;
  font-size: 11px;
}
.postComments:hover { color: #AAAAAA; text-decoration: none; text-shadow: none; }

.postShare {
  float: right;
  font-style: normal;
  margin-top: 5px;
  font-size: 11px;
}
.postShare:hover { color: #002280; text-decoration: none; text-shadow: none; }

.postHeaderRule {
  background: url('/img/post_hr.png');
  width: 100%;
  height: 2px;
  margin: 10px 0px 10px 0px;
}

.imgLeft {
  float: left;
  margin-right: 10px;
  box-shadow: 1px 1px 2px #222;
  border-radius: 2px;
}

.imgRight {
  float: right;
  margin-left: 10px;
  box-shadow: 1px 1px 2px #222;
  border-radius: 2px;
}

.imgCaption {
  text-align: center;
  font-style: italic;
  color: #B71C27;
}

/* CSS for widgets */
.widgetTitle {
  color: #EEEEEE;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: block;
  text-shadow: 0px 1px 5px #000;
}

.widget {
  background: url('/img/widget_bg.png');
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px #333;
}

.widget form {
  margin-bottom: 0px;
  padding-top: 5px;
}

.widget input {
  line-height: 15px;
  margin-bottom: 0px;
}

.widget select{
  margin-bottom: 0px;
}

.socialMedia {
  padding: 0px 2px 0px 2px; 
  text-align: center;
}

.copyright {
  width: 100%;
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: #EEEEEE;
}

.category {
  margin-top: 5px;
  background-color: #901e28;
  color: #DDDDDD;
  border-radius: 3px;
  padding: 2px 10px 2px 10px;
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
  box-shadow: 1px 1px 1px #333;
}

.pagerWrapper {
  padding-top: 10px;
}

.pager {
  margin-bottom: 10px;
}

.pager a {
  border-radius: 4px;
  background-color: transparent;
  background-image: url('/img/widget_bg.png');
  color: #999999;
}

.pager a:hover {
  color: #EEEEEE;
}

.pager .previous span {
  float: left;
  border-radius: 4px;
  background-image: url('/img/widget_bg.png');
  display: inline-block;
  padding: 6px 15px;
}

.pager .next span {
  float: right;
  border-radius: 4px;
  background-image: url('/img/widget_bg.png');
  display: inline-block;
  padding: 6px 15px;
}

/* CSS for search page  */
#more {
  background: url('/img/show_more.png') no-repeat;
  height: 24px;
  width: 124px;
}

#terms {
  height: 24px;
  font-style: italic;
}
