body { 
  font-family: "Lucida Sans Unicode", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px; 
  padding-top: 40px; 
  background-color: #353535;
  background-image: url('/img/bg.png');
  background-attachment: fixed;
}

h1 {
  color: #888;
  text-shadow: 2px 2px 3px #222;
}

h2 {
  color: #BBB;
  text-shadow: 2px 2px 3px #222;
}

h3 {
  color: #CCC;
  text-shadow: 2px 2px 3px #222;
}

h4 {
  color: #DDD;
  text-shadow: 2px 2px 3px #222;
}

h5 {
  color: #EEE;
  text-shadow: 2px 2px 3px #222;
}

/* CSS for the posts */
.post {
  background: url('/img/content_bg.png');
  border-radius: 4px;
  font-size: 13px;
  color: #E5E5E5;
  /*text-shadow: 0px 1px 5px #222;*/
  margin-top: 20px;
  padding: 15px;
  box-shadow: 3px 3px 3px #333;
}

.post ul {
  list-style-image: url('/img/red_bullet.png');
}

.post li {
  font-size: 13px;
  color: #999;
}

.postContent a:link, .postContent a:active, .postContent a:visited { color:#b71c27; }
.postContent a:hover { color: #FFF; text-decoration: none; }

.postTitle {
  font-size: 28px;
  color: #EEEEEE;
  padding-bottom: 5px;
  line-height: 28px;
  text-shadow: 2px 2px 5px #222;
}

.postTitle a:link { color: #EEEEEE; }
.postTitle a:hover { color: #EEEEEE; }
.postTitle a:visited { color: #EEEEEE; }
.postTitle a:active { color: #EEEEEE; }

.postInfo {
  font-size: 12px;
  font-style: italic;
  font-color: #8A8A8A;
}

.postHeaderRule {
  background: url('/img/post_hr.png');
  width: 100%;
  height: 2px;
  margin: 10px 0px 10px 0px;
}

.imgLeft {
  float: left;
  margin-right: 10px;
  box-shadow: 1px 1px 2px #222;
  border-radius: 2px;
}

.imgRight {
  float: right;
  margin-left: 10px;
  box-shadow: 1px 1px 2px #222;
  border-radius: 2px;
}

.imgCaption {
  text-align: center;
  font-style: italic;
  color: #B71C27;
}

/* CSS for widgets */
.widgetTitle {
  color: #EEEEEE;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: block;
  text-shadow: 0px 1px 5px #000;
}

.widget {
  background: url('/img/widget_bg.png');
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px #333;
}

.widget form {
  margin-bottom: 0px;
  padding-top: 5px;
}

.widget input {
  line-height: 15px;
}

.socialMedia {
  padding: 0px 2px 0px 2px; 
  text-align: center;
}

.copyright {
  width: 100%;
  margin: 20px 0px 10px 0px;
  text-align: center;
  color: #EEEEEE;
}
