/* Custom Fonts */
@font-face {
    font-family: Outage-Cut;
    src: url('/font/Outage Cut.ttf');
}

body { 
  font-family: "Lucida Sans Unicode", "Lucida Sans", Verdana, Helvetica, Arial, sans-serif;
  font-size: 12px; 
  background-color: #353535;
}

h1 {
  color: #686868;
}

h2 {
  color: #707070;
}

h3 {
  color: #787878;
}

h4 {
  color: #888888;    
}

h5 {
  color: #989898;
}

a, a:focus {
  outline: none;
}

a:hover {
  text-decoration: none;
}

.header {
  font-family: Outage-Cut;
  text-align: center;
  font-size: 64px;
  color: white;
  
  display: inline-block;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}

.header .accent {
  color: #991C1C;
}

.header .logo {
  vertical-align: middle;
  margin-left: -10px;
}

.header .subtitle {
  font-family: 'socicon' !important;
  font-size: 24px;
  color: #525252;
  padding: 0 0 10px 0;
  margin-top: -10px;
}

.header .subtitle .social {
  padding: 5px;
}

.header .subtitle a {
  color: #525252;
}

.header .subtitle a:hover {
  color: #BBBBBB;
}

.sidebar {
  padding-left: 0px;
}

/* CSS for the posts */
.post {
  background-color: white;
  border-radius: 4px;
  font-size: 13px;
  color: #444444;
/*  text-shadow: 0px 1px 5px #222;*/
  margin-bottom: 15px;
  padding: 15px;
  box-shadow: 3px 3px 3px #333;
}

.post ul li {
    list-style-type: disc;
    margin-left: 2em;
    color: #991C1C;
}

/*.post ul li:first-line  {
    color: #787878;
}*/

.postContent {
  margin-top: 20px;
}

.postContent a:link, .postContent a:active, .postContent a:visited { 
  color: #AABBAA;
  text-decoration: underline;
}
.postContent a:hover { color: #DDDDDD; text-decoration: none; text-shadow: none; }

.postContent a[href*=jpg], .postContent a[href*=jpeg], .postContent a[href*=jpe], .postContent a[href*=png], .postContent a[href*=gif] {
	text-decoration: none !important;
	border: 0 none !important;
}

.postContent p { font-family: 'Muli', sans-serif; word-wrap: break-word; }

.postTitle {
  font-size: 28px;
  color: #EEEEEE;
  padding-bottom: 5px;
  line-height: 1.3;
  font-family: 'Questrial', sans-serif;
}

.postTitle a:link, .postTitle a:visited, .postTitle a:active { color: #666666; }
.postTitle a:hover { color: #AAAAAA; text-decoration: none; }

.postInfo {
  font-size: 12px;
  font-style: italic;
  color: #8A8A8A;
  /*color: #b71c27;*/
}

.postComments {
  padding-left: 5px;
  font-style: normal;
  margin-top: 5px;
  color: #DDDDDD;
  font-size: 11px;
}
.postComments:hover { color: #AAAAAA; text-decoration: none; text-shadow: none; }

.postHeaderRule {
  background: url('/img/post_hr.png');
  width: 100%;
  height: 2px;
  margin: 10px 0px 10px 0px;
  clear: both;
}

.imgLeft {
  float: left;
  margin-right: 10px;
  box-shadow: 1px 1px 2px #222;
  border-radius: 2px;
}

.imgRight {
  float: right;
  margin-left: 10px;
  box-shadow: 1px 1px 2px #222;
  border-radius: 2px;
}

.imgCaption {
  text-align: center;
  font-style: italic;
  color: #B71C27;
}

/* CSS for widgets */
.widgetTitle {
  color: #EEEEEE;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: block;
  text-shadow: 0px 1px 5px #000;
}

.widget {
  background-color: #232323;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 3px 3px 3px #333;
}

.widget form {
  margin-bottom: 0px;
  padding-top: 5px;
}

.widget input {
  line-height: 15px;
  margin-bottom: 0px;
}

.widget select{
  margin-bottom: 0px;
}

.copyright {
  width: 100%;
  margin: 10px 0px 10px 0px;
  text-align: center;
  color: #EEEEEE;
}

.category {
  margin-top: 5px;
/*  background-color: #991C1C;*/
  color: #991C1C;
/*  border-radius: 3px;*/
/*  padding: 2px 10px 2px 10px;*/
  font-size: 11px;
  font-weight: bold;
  display: inline-block;
/*  box-shadow: 1px 1px 1px #333;*/
}

.pagerWrapper {
  padding-top: 10px;
}

.pager {
  margin-bottom: 10px;
  margin-top: 0px;
}

.pager a {
  border-radius: 4px;
  background-color: transparent;
  background-image: url('/img/widget_bg.png');
  color: #999999;
}

.pager a:hover {
  color: #EEEEEE;
}

.pager .previous span {
  float: left;
  border-radius: 4px;
  background-image: url('/img/widget_bg.png');
  display: inline-block;
  padding: 6px 15px;
}

.pager .next span {
  float: right;
  border-radius: 4px;
  background-image: url('/img/widget_bg.png');
  display: inline-block;
  padding: 6px 15px;
}

.pager li > a {
  background-color: transparent;
  border-radius: 4px;
  border: 0px;
}

.pager li > span {
  background-color: transparent;
  border-radius: 4px;
  border: 0px;
  color: #555555;
}

.pager li > a:hover, .pager li > a:focus {
  background-color: transparent;
}

/* CSS for search page  */
#more {
  background: url('/img/show_more.png') no-repeat;
  height: 24px;
  width: 124px;
}

#terms {
  height: 24px;
  font-style: italic;
}

/* Responsive CSS */
/*@media screen and (max-width: 767px) {
  body { padding-top: 0px; }
}*/

@media only screen and (max-width: 767px) {
  .sidebar {
    padding-left: 15px;
  }
}

@media screen and (max-width: 480px) {
  .postShare {
    float: none;
  }
}

@media (max-width: 1200px) {
  body { padding-top: 0px; }
  .post { margin-top: 0px; margin-bottom: 20px; }
  .span3 { margin-top: 0px; }
  .pagerWrapper { margin-top: -20px; }
}

.embed-container  {
   position: relative;
   padding-bottom: 56.25%; /* 16:9 ratio */
   padding-top: 30px; /* IE 6 workaround*/
   height: 0;
   overflow: hidden;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

@media only screen and (max-width: 1100px) {
.fb-comments{width: 100% !important;}
.fb-comments iframe[style]{width: 100% !important;}
.fb-comments span{width: 100% !important;}
.fb-comments iframe span[style]{width: 100% !important;}
}