---
layout: default
title: HICapacity ~ Honolulu Makerspace
---
<div>
  {% for post in site.posts %}
  <div class="post">
    <div class="postTitle">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </div>
    <div class="postInfo">
      {{ post.date | date: "%B %e, %Y" }} by {{ post.author }}
    </div>
    <div class="postHeaderRule"></div>
    <div class="postContent">
      {{ post.content }}
    </div>
    <div>
      {% for category in post.categories %}
        <div class="category">{{ category }}</div>
      {% endfor %}  
    </div>
  </div>
  {% endfor %}  
</div>
ß