<div class="header">
  <a href="/">
    <span><span class="accent">HI</span>CAPACITY</span>
    <img class="logo" src="/img/hicap_logo.svg" height="60px">
  </a>
  <div class="subtitle">
    <span class="social"><a href="https://twitter.com/#!/hnlmakerspace">a</a></span>
    <span class="social"><a href="https://www.facebook.com/hicapacity">b</a></span>
    <span class="social"><a href="https://plus.google.com/u/0/114755643956585660843/posts">c</a></span>
    <span class="social"><a href="https://foursquare.com/v/hi-capacity/4e9e95cae5e8a6f879cee182">e</a></span>
    <span class="social"><a href="https://www.youtube.com/user/hnlmakerspace?feature=watch">r</a></span>
    <span class="social"><a href="http://www.flickr.com/photos/hicapacity/">v</a></span>
    <span class="social"><a href="http://github.com/hicapacity">Q</a></span>
    <span class="social"><a href="https://instagram.com/hicapacity">x</a></span>
    <span class="social"><a href="/rss.xml">,</a></span>
  </div>
</div>