<div class="container" style="padding-bottom: 15px">
<div id='cssmenu'>
<ul>
   <li id="home"><a href='/'><span>Home</span></a></li>
   <li><a href='/calendar'><span>Calendar</span></a></li>
   <li class="has-sub"><a href='#'><span>Resources</span></a>
     <ul style="z-index: 1000;">
        <!-- <li><a href='http://facebook.com/hicapacity'><span>Facebook</span></a></li> -->
        <li><a href='https://wiki.hicapacity.org'><span>HICapacity Wiki</span></a></li>
        <!-- <li><a href='https://www.flickr.com/photos/hicapacity'><span>Flickr</span></a></li>
        <li><a href='https://instagram.com/hicapacity/'><span>Instagram</span></a></li>
        <li><a href='https://twitter.com/hnlmakerspace'><span>Twitter</span></a></li>
        <li><a href='http://www.techhui.com/group/hicapacity'><span>TechHui</span></a></li> -->
        <li><a href='/irc'><span>IRC</span></a></li>
        <li><a href='/attribution'><span>Attribution</span></a></li>
     </ul>
   </li>
   <li><a href='/events'><span>Events</span></a></li>
   <li><a href='/services'><span>Services</span></a></li>
   <li><a href='/membership'><span>Membership</span></a></li>
   <li><a href='/about'><span>About</span></a></li>
</ul>
</div>
</div>
