<div class="container" style="padding-bottom: 15px">
<div id='cssmenu'>
<ul>
   <li id="home"><a href='/'><span>Home</span></a></li>
   <li><a href='/calendar'><span>Calendar</span></a></li>
   <li class="has-sub"><a href='#'><span>Resources</span></a>
     <ul style="z-index: 1000;">
        <li><a href='http://bit.ly/hicapacity-moderator'><span>Got Ideas?</span></a></li>
        <li><a href='http://www.techhui.com/group/hicapacity'><span>TechHui</span></a></li>
        <li><a href='http://groups.google.com/group/honolulu-makerspace'><span>Google Group</span></a></li>
        <li><a href='/irc'><span>IRC</span></a></li>                
     </ul>
   </li>
   <li><a href='/events'><span>Events</span></a></li>
   <li><a href='/services'><span>Services</span></a></li>
   <li><a href='/membership'><span>Membership</span></a></li>
   <li><a href='/about'><span>About</span></a></li>  
</ul>
</div>
</div>