<div class="span3" style="padding-bottom: 20px;">
  <div class="widget"> <!-- Location and Hours -->
    <span class="widgetTitle">Location &amp Hours</span>
    <div style="padding-left: 5px; padding-top: 5px; color: #A5A5A5">
      <a class="address" href="https://goo.gl/maps/UBHN3">
        Manoa Innovation Center<br/>
        2800 Woodlawn Drive, Suite #132<br/>
        Honolulu, HI 96822
      </a><br/>
      Monday - Saturday 10am to 9pm
    </div>
  </div>
  <div class="widget"> <!-- Membership Widget -->
    <div style="float: left">
      <div class="grid">
        <div class="box">
          <span class="widgetTitle">Membership</span>
        </div>
        <div class="box">
          <a href="/membership" class="box" title="More Information">
            <span class="glyphicon glyphicon-info-sign info-icon"></span>
          </a>
        </div>
      </div>
    </div>
    <div style="clear: both"></div>
    {% include paypal.html %}  
  </div>
  <div class="widget">
    <span class="widgetTitle">Mailing List</span>
    <div class="mailing-list">
      Receive our weekly emails to find out about upcoming events!
      <br/>
      <a href="http://hicapacity.us8.list-manage1.com/subscribe?u=b6f4f37ae2a2dc29dc613fdfa&amp;id=af82fe7601" class="btn btn-primary btn-sm">Subscribe</a>
    </div>
  </div>
  <div class="widget">
    <span class="widgetTitle">Upcoming Events</span>
    <div id="events">
    </div>
  </div>
</div>
