<div class="span3" style="padding-bottom: 20px;">
  <div class="widget"> <!-- Location and Hours -->
    <span class="widgetTitle">Location &amp Hours</span>
    <div style="padding-left: 5px; padding-top: 5px; color: #A5A5A5">
      TEMPORARILY CLOSED WHILE WE MOVE TO OUR NEW SPACE. CHECK BACK SOON!
    </div>
  </div>
  <div class="widget"> <!-- Membership Widget -->
    <div style="float: left">
      <div class="grid">
        <div class="box">
          <span class="widgetTitle">Membership</span>
        </div>
        <div class="box">
          <a href="/membership" class="box" title="More Information">
            <span class="glyphicon glyphicon-info-sign info-icon"></span>
          </a>
        </div>
      </div>
    </div>
    <div style="clear: both"></div>
    {% include paypal.html %}  
  </div>
  <div class="widget">
    <span class="widgetTitle">Upcoming Events</span>
    <div id="events">
    </div>
  </div>
  <div class="widget">
    <span class="widgetTitle">Our Projects</span>
    <div id="repos"></div>
  </div>
</div>
