<div class="span3" style="padding-bottom: 20px;">
  <div class="widget"> <!-- Social Media Icons -->
    <span class="widgetTitle">Connect</span>
    <div style="padding-top: 10px; text-align: left;">
    <a href="https://www.facebook.com/hicapacity" class="socialMedia" title="Follow Us on Facebook" rel="tooltip"><img src="/img/social/facebook.png"/></a>
    <a href="https://twitter.com/#!/hnlmakerspace" class="socialMedia" title="Follow Us on Twitter"><img src="/img/social/twitter.png"/></a>
    <a href="http://github.com/hicapacity" class="socialMedia" title="View Our Projects on Github"><img src="/img/social/github.png"/></a>
    <a href="http://groups.google.com/group/honolulu-makerspace" class="socialMedia" title="Join Our Google Group"><img src="/img/social/google.png"/></a>
    <a href="http://www.flickr.com/photos/hicapacity/" class="socialMedia" title="View Our Flickr"><img src="/img/social/flickr.png"/></a>
    <a href="https://www.youtube.com/user/hnlmakerspace?feature=watch" class="socialMedia" title="Watch Us on Youtube"><img src="/img/social/youtube.png"/></a> 
    <a href="/rss.xml" class="socialMedia" title="Follow Our RSS Feed"><img src="/img/social/rss.png"/></a> 
    <a href="https://foursquare.com/v/hi-capacity/4e9e95cae5e8a6f879cee182" class="socialMedia" title="Overthrow Our Mayor on Foursquare"><img src="/img/social/foursquare.png"/></a>    
    </div>	      
  </div>
  <div class="widget"> <!-- Location and Hours -->
    <span class="widgetTitle">Location &amp Hours</span>
    <div style="padding-left: 5px; padding-top: 5px; color: #A5A5A5">
      <a href="http://bit.ly/fishcake"><img src="/img/maps.png" align="left" style="padding-right: 10px;" /></a>
      <a href="http://bit.ly/fishcake">
        307a Kamani St<br/>
        Honolulu, HI 96813
      </a><br/>
      8am-12am Monday - Friday<br/>
      11am-6pm Saturday &amp Sunday
    </div>
  </div>
  <div class="widget"> <!-- Mailing List Widget -->
    <span class="widgetTitle">Mailing List</span>
      <form action="http://groups.google.com/group/honolulu-makerspace/boxsubscribe">
        <div><input type="text" name="email" placeholder="Email" style="width: 95%; max-width: 200px;"></div>
        <div style="width: 100%;">
          <div style="width: 45%; float:left; padding-top: 5px;">
            <button type="submit" name="sub" value="Subscribe" class="btn btn-primary">Subscribe</button>
          </div>
          <div style="padding-top:15px; width:55%; float:right; text-align: right;">
            <a href="http://groups.google.com/group/honolulu-makerspace">Visit this group</a>
          </div>
        </div>
        <div style="clear:both;"></div>
      </form>
  </div>
  <div class="widget"> <!-- Membership Widget -->
    <div style="float: left">
      <div>
        <span class="widgetTitle" style="float: left;">Membership</span>
        <a href="/membership" class="socialMedia" title="More Information" style="float: left;">
          <img src="/img/info.png" style="padding: 2px 0px 0px 5px;  float: right;" />
        </a>
        <div style="clear: both;"></div>
      </div>
    </div>
    <div style="clear: both"></div>
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="SDXG5NJQPKQQQ">
      <input type="hidden" name="on0" value="Select type">
        <select name="os0" style="width: 100%; max-width: 250px;" id="normalSelect">
          <option value="Standard">Standard : $50USD/Month</option>
          <option value="Help us grow">Help us grow : $75USD/Month</option>
        </select> 
      <input type="hidden" name="currency_code" value="USD">
      <div style="width: 100%;">
        <div style="width: 30%; float:left; padding-top: 5px">
          <button type="submit" name="submit" value="Join" style="width: 55px" class="btn btn-primary">Join</button>
        </div>
        <div style="width:70%; float:right; height: 30px; text-align: right;">
          <img src="/img/creditcard_paypal.png" style="padding: 6px 5px 0px 0px" title="Icon from http://findicons.com/icon/97250/creditcard_paypal"/>           
        </div>
      </div>
      <div style="clear:both;"></div>          
    </form>
  </div>
  <div class="widget">
    <span class="widgetTitle">Upcoming Events</span>
    <div id="events">
    </div>
  </div>
  <div class="widget">
    <span class="widgetTitle">Our Projects</span>
    <div id="repos"></div>
  </div>
</div>