<!DOCTYPE html>
<html>
<head>
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- OpenGraph tag stuff -->
{% if page.type == "main" %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="HI Capacity" />
<meta property="og:image" content="http://hicapacity.org/img/hicap_logo.svg" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="http://hicapacity.org{{ page.url }}">
{% else %}
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="HI Capacity" />
<meta property="og:image" content="http://{{ page.image | image_url }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="http://hicapacity.org{{ page.url }}">
{% endif %}

<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/socicon.css">
<link rel="stylesheet" href="/css/site.css">
<link rel="stylesheet" href="/css/menu.css">

<script src="/js/jquery-2.1.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/menu_jquery.js"></script>

<script>
  $(document).ready(function() {
    // Set the active page on the navigation page
    var path = location.pathname.substring(1); // strip the slash in the beginning
    path = path.replace(/\/$/, ""); // strip the trailing slash if it exists
  
    if ( path ) {
      $('.nav a[href$="' + path + '"]').parent().addClass('active');
    }
    else {
      $('#home').addClass('active');
    }
  });
</script>

</head>
<body>
  {% include header.html %}
  {% include navbar.html %}
  
  <div class="container">
    <div class="row">
      <div class="col-sm-9 blog-main">
        {{ content }}
      </div>
      <div class="col-sm-3 blog-sidebar">
        {% include sidebar.html %}        
      </div>
    </div>
  </div>
  
  <div class="copyright">
    &copy HICapacity LLC 2014</script>
  </div>
  {% include analytics.html %}  
</body>
</html>