---
layout: default
---
<div id="fb-root"></div>
<div class="post">
  <div class="postTitle">
    <a href="{{ post.url }}">{{ page.title }}</a>
  </div>
  <div class="postInfo">
    {{ page.date | date: "%B %e, %Y" }} by {{ page.author }}
  </div>
  <div class="postHeaderRule"></div>
  <div class="postContent">
    {{ content }}
  </div>
  <div>
    <span class="postInfo">Posted in: </span>
    {% for category in page.categories %}
      <div class="category">{{ category }}</div>
    {% endfor %}  
  </div>
</div>

<div class="fb-comments" style="padding-top: 10px" data-href="http://hicapacity.org{{ page.url }}" data-num-posts="2" data-width="700" data-colorscheme="dark"></div>